<!-- 
  THIS IS AN EXAMPLE to show how to send values to a DataTable
  Key variables: DATA is a list
  Uses the BASELIST template for formatting and javascript. Just add content 
-->

{% extends "base.html" %} 

{% block content %}
<div style="flex:50%; float: left; padding: 20px;">

  <table id = "listTable" class=display flex="50%">
    <thead>
      <tr>
        <!-- Do the filtering through the columns -->
        <th>Number</th>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
        {% for course in courses %}
          <tr>
            <!-- Each row name is clickable-->
            <td>{{course.department.abbr}} {{course.number}}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.department.name }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
